doctype html 
html(lang="vi") 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./assets/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        block title 
    body 
        //- Header
        header.header
            .container
                .header__wrap
                    button.header__menu-mobile
                        i(class="fa-solid fa-bars")
                    //- Logo
                    a(class="header__logo" href="trang-chu.html")
                        img(src="./assets/img/Logo.svg" alt="Monito")
                    //-  Menu 
                    nav.header__menu
                        ul
                            li
                                a(href="trang-chu.html") Trang Chủ
                            li
                                a(href="#") Danh Mục
                            li
                                a(href="#") Giới Thiệu
                            li
                                a(href="#") Liên Hệ
                    button.header__search-mobile
                        i(class="fa-solid fa-magnifying-glass")
                    //- Search
                    form(action="#" class="header__search")
                        input(type="text" name="keyword" placeholder="Nhập từ khóa...")
                        button
                            i(class="fa-solid fa-magnifying-glass")
                    //- Button
                    a(href="#" class="button") Tham gia cộng đồng 
        //- End Header
        //- Main
        block main
        //- End Main
        //- Footer
        footer.footer
            .container
                .footer__top
                    .footer__title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    form(action="#" class="footer__form" method="post")
                        input(type="mail" placeholder="Nhập email của bạn...")
                        button Đăng ký ngay
                .footer__middle
                    nav.footer__link
                        ul
                            li
                                a(href="trang-chu.html") Trang chủ
                            
                            li
                                a(href="#") Danh mục
                            
                            li
                                a(href="#") Giới thiệu
                            
                            li
                                a(href="#") Liên hệ
                            
                    nav.footer__socials
                        ul
                            li
                                a(href="#")
                                    i(class="fa-brands fa-facebook")
                            li
                                a(href="#")
                                    i(class="fa-brands fa-twitter")
                            li
                                a(href="#")
                                    i(class="fa-brands fa-instagram")
                            li
                                a(href="#")
                                    i(class="fa-brands fa-youtube")
                .footer__bottom
                    .footer__copyrights © 2023 28Tech. All rights reserved.
                    .footer__logo
                        a(href="trang-chu.html")
                            img(src="./assets/img/Logo.svg" alt="Monito")
                    .footer__links
                        ul
                            li
                                a( href="#") Điều khoản dịch vụ
                            li
                                a( href="#") Chính sách bảo mật
        //- End Footer